{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.nudger.fr","description":"Generated server url"}],"security":[{"Authorization":[]}],"paths":{"/webscrapers/testwithconfig/":{"post":{"tags":["scraper-orchestration-controller"],"summary":"Run an url direct fetching against the best availlable node, with a given DataSourceProperties","operationId":"fetchUrlWithConfig","parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataFragment"}}}}}}},"/webscrapers/fetch/{datasourceName}":{"post":{"tags":["scraper-orchestration-controller"],"summary":"Run a datasource retrieving against the best availlable node","operationId":"triggerFetcher","parameters":[{"name":"datasourceName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FetchRequestResponse"}}}}}}},"/webscrapers/fetch/all":{"post":{"tags":["scraper-orchestration-controller"],"summary":"Run a all datasources retrieving against best availlables node","operationId":"triggerAllFetcher","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FetchRequestResponse"}}}}}}},"/webscrapers/crawl/test/":{"post":{"tags":["scraper-orchestration-controller"],"summary":"Run an url direct fetching against the best availlable node","operationId":"testFetchUrl","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataFragment"}}}}}}},"/score/{vertical}":{"post":{"tags":["batch-controller"],"summary":"Score a specific vertical","operationId":"scoreFromName","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/enrich/":{"post":{"tags":["csv-enrichment-controller"],"summary":"Enrich a CSV file with open4goods data","operationId":"enrich","parameters":[{"name":"facets","in":"query","description":"Facets that will be rendered","required":false,"schema":{"type":"array","items":{"type":"string","enum":["TITLE","GTIN_INFOS","DATES","BRAND","MODEL","GOOGLE_TAXONOMY","CATEGORIES","IMAGES","PRICES","PRICE_HISTORY","RAW_ATTRIBUTES","CLASSIFIED_ATTRIBUTES"]}}},{"name":"gtinField","in":"query","description":"Name of the csv header that points the GTIN","required":false,"schema":{"type":"string"}},{"name":"titleField","in":"query","description":"Name of the csv header that points the title. A gtin resolution will be prefered if availlable","required":false,"schema":{"type":"string"}},{"name":"csvQuoteChar","in":"query","description":"CSV Schema is autodetected, but you can force here the csv quote char","required":false,"schema":{"type":"string","default":"\""}},{"name":"csvColumnSeparatorChar","in":"query","description":"CSV Schema is autodetected, but you can force here the csv column separator","required":false,"schema":{"type":"string","default":","}},{"name":"csvEscapeChar","in":"query","description":"CSV Schema is autodetected, but you can force here the csv escape char","required":false,"schema":{"type":"string"}},{"name":"inputEncoding","in":"query","description":"Input CSV file Encoding","required":false,"schema":{"type":"string","default":"UTF-8"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"Input CSV File to be enriched"}},"required":["file"]}}}},"responses":{"200":{"description":"OK"}}}},"/batch/{vertical}":{"post":{"tags":["batch-controller"],"summary":"Batch a specific vertical","operationId":"batchVertical","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/batch/tweak":{"post":{"tags":["batch-controller"],"summary":"Launch the data cleanup routine, if implemented","operationId":"batchCleanup","responses":{"200":{"description":"OK"}}}},"/batch/":{"post":{"tags":["batch-controller"],"summary":"Launch the full batch (scoring, aggregation, completion batch), iso has @Scheduled","operationId":"batch","responses":{"200":{"description":"OK"}}}},"/backup/xwiki":{"post":{"tags":["backup-controller"],"summary":"Launch a Xwiki backup","operationId":"xwikiBackup","responses":{"200":{"description":"OK"}}}},"/backup/products/import":{"post":{"tags":["backup-controller"],"summary":"Launch a product import","operationId":"productsImport","responses":{"200":{"description":"OK"}}}},"/backup/products/export":{"post":{"tags":["backup-controller"],"summary":"Launch a product backup","operationId":"productsExport","responses":{"200":{"description":"OK"}}}},"/backup/products/export/vertical":{"post":{"tags":["backup-controller"],"summary":"Launch a product backup, for specified vertical","operationId":"productsExport_1","parameters":[{"name":"vertical","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/feeds":{"patch":{"tags":["feed-controller"],"summary":"Manualy run the indexation of all feeds","operationId":"indexFeeds","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IndexationResponse"}}}}}}},"/feedsByUrl":{"patch":{"tags":["feed-controller"],"summary":"List all feeds from catalogs corresponding the given url","operationId":"feedByUrl","parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/feedsByKey":{"patch":{"tags":["feed-controller"],"summary":"List all feeds from catalogs corresponding the given field key","operationId":"feedByKey","parameters":[{"name":"feedKey","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/{vertical}/featuregroups/":{"get":{"tags":["icecat-controller"],"summary":" Loads the list of features, aggegated by UiFeatureGroup","operationId":"getFeaturesGroup","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/{vertical}/ecoscore/":{"get":{"tags":["verticals-generation-controller"],"summary":"Generate the ecoscore yaml fragment for a given vertical","operationId":"generateEcoscoreMappings","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/{vertical}/categories/":{"get":{"tags":["verticals-generation-controller"],"summary":"Generate the categories yaml fragment for a given vertical","operationId":"generateCategoryMappingsForExistinf","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}},{"name":"minOffersCount","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":5}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/{vertical}/attributes/":{"get":{"tags":["verticals-generation-controller"],"summary":"Generate attributes coverage for a vertical","operationId":"generateAttributesCoverage","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/VerticalAttributesStats"}}}}}}},"/webscrapers":{"get":{"tags":["scraper-orchestration-controller"],"summary":"List all availlable fetchers and their stats","operationId":"fetcherStats","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/FetcherGlobalStats"}}}}}}}},"/webscrapers/{crawlerNodeName}/fetch":{"get":{"tags":["scraper-orchestration-controller"],"summary":"Get stats for a specific fetcher","operationId":"fetcherStats_1","parameters":[{"name":"crawlerNodeName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FetcherGlobalStats"}}}}}}},"/webscrapers/stop":{"get":{"tags":["scraper-orchestration-controller"],"summary":"Stop a fetching job, will request any fetchers","operationId":"stopFetching","parameters":[{"name":"provider","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/update/{vertical}":{"get":{"tags":["verticals-generation-controller"],"summary":"Update the vertical with attributes, mappings and ecoscore directly in the file !","operationId":"updateVerticalWithAll","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/update/{vertical}/impactscore/":{"get":{"tags":["verticals-generation-controller"],"summary":"Update the categories mapping for a given vertical directly in the file !","operationId":"updateVerticalWithImpactScore","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/update/{vertical}/categories/":{"get":{"tags":["verticals-generation-controller"],"summary":"Update the categories mapping for a given vertical directly in the file !","operationId":"updateVerticalWithMappings","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}},{"name":"minOffers","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":3}}],"responses":{"200":{"description":"OK"}}}},"/update/{vertical}/attributes/":{"get":{"tags":["verticals-generation-controller"],"summary":"Update the suggested attributes for a given vertical directly in the file !","operationId":"updateVerticalWithAttributes","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}},{"name":"minCoverage","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"containing","in":"query","required":false,"schema":{"type":"string","default":""}}],"responses":{"200":{"description":"OK"}}}},"/score/":{"get":{"tags":["batch-controller"],"summary":"Score all verticals (sanitisation + launch the scheduled batch that score all verticals)","operationId":"scoreVerticals","responses":{"200":{"description":"OK"}}}},"/prompt/text":{"get":{"tags":["gen-ai-controller"],"summary":"Launch prompt","operationId":"prompt","parameters":[{"name":"key","in":"query","required":false,"schema":{"type":"string","default":"test"}},{"name":"context","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/prompt/json":{"get":{"tags":["gen-ai-controller"],"summary":"Launch prompt","operationId":"promptJson","parameters":[{"name":"key","in":"query","required":false,"schema":{"type":"string","default":"test"}},{"name":"context","in":"query","required":true,"schema":{"type":"object","additionalProperties":{"type":"object"}}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object"}}}}}}}},"/product/bestname":{"get":{"tags":["product-controller"],"summary":"Get a product best name","operationId":"getBestName","parameters":[{"name":"gtin","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/product/":{"get":{"tags":["product-controller"],"summary":"Get a product from it's GTIN","operationId":"get","parameters":[{"name":"gtin","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Product"}}}}}}},"/misc/vertical":{"get":{"tags":["verticals-generation-controller"],"summary":"Generate the vertical files. Please, use https://docs.google.com/spreadsheets/d/1AyBdagWbn_rst2xZvUH9dVF7G2y_Wm_Xrq0IxDGkXoc/edit?gid=0#gid=0","operationId":"generateCategoryMappingsFragment","parameters":[{"name":"googleTaxonomyId","in":"query","required":true,"schema":{"type":"string"}},{"name":"matchingCategories","in":"query","required":true,"schema":{"type":"string"}},{"name":"urlPrefix","in":"query","required":true,"schema":{"type":"string"}},{"name":"h1Prefix","in":"query","required":true,"schema":{"type":"string"}},{"name":"verticalHomeUrl","in":"query","required":true,"schema":{"type":"string"}},{"name":"verticalHomeTitle","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/feed/queue":{"get":{"tags":["feed-controller"],"summary":"Show feeds awaiting indexation","operationId":"getQueue","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"object"}}}}}}}},"/features/{featuresId}/":{"get":{"tags":["icecat-controller"],"summary":" Loads the Feature for a given id","operationId":"getFeature","parameters":[{"name":"featuresId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/IcecatFeature"}}}}}}},"/feature/resolve":{"get":{"tags":["icecat-controller"],"summary":"Resolve the icecat features id, and apply the english name if an unconflicted match is found","operationId":"getOriginalEnglishName","parameters":[{"name":"name","in":"query","required":true,"schema":{"type":"string"}},{"name":"vertical","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/datasources":{"get":{"tags":["data-source-configurations-controller"],"summary":"List all availlable datasource configurations","operationId":"datasources","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/DataSourceProperties"}}}}}}}},"/datasource/{datasourceName}":{"get":{"tags":["data-source-configurations-controller"],"summary":"Get a specific datasource configuration","operationId":"datasource","parameters":[{"name":"datasourceName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DataSourceProperties"}}}}}}},"/datasource/{datasourceName}/nextFetchingDate":{"get":{"tags":["data-source-configurations-controller"],"summary":"Get a specific datasource configuration","operationId":"datasourceNextSchedule","parameters":[{"name":"datasourceName","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string","format":"date-time"}}}}}}},"/completion/resources":{"get":{"tags":["completion-controller"],"summary":"Launch resource completion on all verticals","operationId":"resourceCompletionAll","responses":{"200":{"description":"OK"}}}},"/completion/resources/gtin/":{"get":{"tags":["completion-controller"],"summary":"Launch resource completion on the specified vertical","operationId":"resourceCompletionProduct","parameters":[{"name":"gtin","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/completion/resources/":{"get":{"tags":["completion-controller"],"summary":"Launch resource completion on the specified vertical","operationId":"resourceCompletionVertical","parameters":[{"name":"verticalConfig","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/completion/icecat":{"get":{"tags":["completion-controller"],"summary":"Launch icecat completion on all verticals","operationId":"icecatCompletionAll","responses":{"200":{"description":"OK"}}}},"/completion/icecat/gtin/":{"get":{"tags":["completion-controller"],"summary":"Launch icecat completion on the specified vertical","operationId":"icecatCompletionProduct","parameters":[{"name":"gtin","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/completion/icecat/":{"get":{"tags":["completion-controller"],"summary":"Launch icecat completion on the specified vertical","operationId":"icecatCompletionVertical","parameters":[{"name":"verticalConfig","in":"query","required":true,"schema":{"type":"string"}},{"name":"max","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/completion/amazon":{"get":{"tags":["completion-controller"],"summary":"Launch amazon completion on all verticals","operationId":"amazonCompletionAll","responses":{"200":{"description":"OK"}}}},"/completion/amazon/gtin/":{"get":{"tags":["completion-controller"],"summary":"Launch amazon completion on the specified vertical","operationId":"amazonCompletionProduct","parameters":[{"name":"gtin","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/completion/amazon/":{"get":{"tags":["completion-controller"],"summary":"Launch amazon completion on the specified vertical","operationId":"amazonCompletionVertical","parameters":[{"name":"verticalConfig","in":"query","required":true,"schema":{"type":"string"}},{"name":"max","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/brands/stats/companies/missing":{"get":{"tags":["brand-controller"],"operationId":"statsMissingCompanies","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"type":"string"}}}}}}}},"/batch/request":{"get":{"tags":["gen-ai-controller"],"summary":"Launch batch review generation","operationId":"batchReview","parameters":[{"name":"vertical","in":"query","required":false,"schema":{"type":"string","default":"tv"}},{"name":"numberOfProducts","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":2}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/batch/processresponse":{"get":{"tags":["gen-ai-controller"],"summary":"Process and retrieve batch job response by jobId","operationId":"processResponse","responses":{"200":{"description":"OK"}}}},"/batch/processResponse":{"get":{"tags":["gen-ai-controller"],"summary":"Process the response for a given jobId","operationId":"trigger","parameters":[{"name":"jobId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/batch/checkStatus":{"get":{"tags":["gen-ai-controller"],"summary":"Check batch job status by jobId","operationId":"checkStatus","parameters":[{"name":"jobId","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchJobResponse"}}}}}}},"/aggregate/verticals":{"get":{"tags":["batch-controller"],"summary":"Launch aggregation of all verticals","operationId":"sanitizeAllVertical","responses":{"200":{"description":"OK"}}}},"/aggregate/verticals/{vertical}":{"get":{"tags":["batch-controller"],"summary":"Launch aggregation of a specific vertical","operationId":"sanitizeSpecificVertical","parameters":[{"name":"vertical","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/aggregate/products":{"get":{"tags":["batch-controller"],"summary":"Launch aggregation of all products","operationId":"sanitize","responses":{"200":{"description":"OK"}}}},"/aggregate/gtin/{gtin}":{"get":{"tags":["batch-controller"],"summary":"Launch sanitisation of a given products","operationId":"sanitizeOne","parameters":[{"name":"gtin","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}}},"components":{"securitySchemes":{"Authorization":{"type":"apiKey","name":"Authorization","in":"header"}}}}