/**
 * = Modals
 */

.modal {
    &.static-example {
        position: relative;
        display : block;
    }
}

.modal-header .close {
    padding: .825rem;
}

.modal-content {
    border: 0;

    @if $enable-rounded {
        border-radius: $modal-content-border-radius;
    }

    @else {
        border-radius: 0;
    }
}

.modal-fluid {
    .modal-dialog {
        margin-top   : 0;
        margin-bottom: 0;
    }

    .modal-content {
        border-radius: 0;
    }
}

@each $color,
$value in $theme-colors {
    .modal-#{$color} {
        @include modal-variant($value);
    }
}


/* pour la modal des filtres uniquement : fixed à droite */
@media screen and (min-width: 1400px) {
    .modal-dialog-filtres {
      margin-right: 0 !important;
      margin-top: 0 !important;
      margin-bottom: 0!important;
    }

    .modal-dialog-filtres .modal-content,
    .modal-dialog-filtres .modal-header,
    .modal-dialog-filtres .modal-body {
        border-radius: 0!important;
    }
}