$primary: #000000;
$secondary: #1E851A;
$tertiary: #B1CFB0;


$nudgerVert: #1E851A;
$nudgerVert_rgb: 30,133,26;
$nudgerVert_rgb_alpha_01: rgba(30,133,26, .1);
$nudgerVert_rgb_alpha_02: rgba(30,133,26, .2);
$nudgerVert_rgb_alpha_03: rgba(30,133,26, .3);
$nudgerVert_rgb_alpha_04: rgba(30,133,26, .4);
$nudgerVert_rgb_alpha_05: rgba(30,133,26, .5);
$nudgerVert_rgb_alpha_06: rgba(30,133,26, .6);
$nudgerVert_rgb_alpha_07: rgba(30,133,26, .7);
$nudgerVert_rgb_alpha_08: rgba(30,133,26, .8);
$nudgerVert_rgb_alpha_09: rgba(30,133,26, .9);
$nudgerVert_rgb_alpha_1: rgba(30,133,26, 1);

$nudgerCreme: #f1efe7;

$ecovert_A: #1E8F4E;
$ecovert_B: #2ECC71;
$ecovert_C: #F5C100;
$ecovert_D: #EF7E1A;
$ecovert_E: #D93726;
