$primary: #000000;
$secondary: #1E851A;
$tertiary: #B1CFB0;


$nudgerVert: #1E851A;
$nudgerVert_rgb: 30,133,26;
$nudgerCreme: #f1efe7;

$ecovert_A: #1E8F4E;
$ecovert_B: #2ECC71;
$ecovert_C: #F5C100;
$ecovert_D: #EF7E1A;
$ecovert_E: #D93726;
